@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#load {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #333339;
    transition: opacity 500ms ease;
}

:root {
    --border: #111;
    --background-op: #202730cc;
    --background: #202730;
    --background-clr: #724429;
    --background-clr-op: #814d2ecc;
}

body{
    min-height: 100vh; margin:0; 
    overflow: hidden;
    display:flex;
    flex-direction:column;
    font-family: 'Raleway', sans-serif; 
}

.header-bg-img {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px center;
    position: absolute;
    z-index: -10;
    transition: transform 1.5s ease;
    width: 100%;
    height: 100%;
}


.right {
    transform: translateX(100vw);
}

.left {
    transform: translateX(-100vw);
}


.a1 {
    background-image:linear-gradient(#00000077, #00000077),url(./img/webp/aaron-burden-QJDzYT_K8Xg-unsplash.webp);
}

.a2 {
    background-image:linear-gradient(#00000077, #00000077),url(./img/webp/eliabe-costa-tzsUJD0TGkk-unsplash.webp);
}

.a3 {
    background-image:linear-gradient(#00000077, #00000077),url(./img/webp/fa-barboza-NWoaoMgMiVY-unsplash.webp);
}

.a4 {
    background-image:linear-gradient(#00000077, #00000077),url(./img/webp/scott-graham-5fNmWej4tAA-unsplash.webp);
}

.hd{
    background-color: #111;
    z-index: -1;
    position: relative;
    min-height:600px;
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.header-h1 {
    font-size: 50px;
    background-color: var(--background-op);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1200px;
    min-height: 100px;
    margin: auto;
    border-radius: 30px;
}

footer{
    min-height:50px;
    background:var(--background);
    text-align: center;
    color: whitesmoke;
}

main{
    flex:1; 
}

.header-container {
    align-items: center;
    height: 600px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 50px auto 50px;
}

.nav {
    display: grid;
    height: 120px;
    grid-template-columns: 225px 225px 225px 225px 225px;
    grid-template-rows: 50px 50px 50px; 
    grid-gap: 10px;
    text-align: center;
    padding: 0;
    margin: 100px 0;
}

.nav-link {
    z-index: 10;
    background: var(--background-op);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.nav-link-a {
    color: white;
    text-decoration: none;
}

.nav-link:nth-child(11) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.nav-link:nth-child(12) {
    width: 2fr;
    grid-column-start: 3;
    grid-column-end: 6;
}
