@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --border: #111;
    --background-imp-op: #202730cc;
    --background-imp: #202730;
}

body{
    min-height: 100vh; margin:0; 
    display:flex;
    flex-direction:column;
    font-family: 'Raleway', sans-serif; 
}

.header-bg-img {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px center;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.a1 {
    background-image:url(./img/aaron-burden-QJDzYT_K8Xg-unsplash.jpg) ;
}

.hd{
    position: relative;
    min-height:600px;
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.header-h1 {
    font-size: 50px;
    background-color: var(--background-imp-op);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1200px;
    min-height: 100px;
    margin: auto;
    border-radius: 30px;
}

footer{
    min-height:50px;
    background:var(--background-imp);
    text-align: center;
    color: whitesmoke;
}

main{
    flex:1; 
}

.header-container {
    align-items: center;
    height: 500px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 50px auto 50px;
}

.nav {
    padding: 0;
    margin: 0;
}